.container{
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}


/* =========================
   TOP BAR
========================= */

.top-bar{
    margin-bottom: 20px;
}

.top-bar h1{
    margin: 0;
}


/* =========================
   TABLE
========================= */

table{
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table th,
table td{
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th{
    background: #1f2937;
    color: white;
}

table tr:hover{
    background: #f9f9f9;
}


/* =========================
   STATUS
========================= */

.status{
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}


/* ACTIVE */

.status.active{
    background: #d1fae5;
    color: #065f46;
}


/* RETURNED */

.status.returned{
    background: #dbeafe;
    color: #1e40af;
}


/* OVERDUE */

.status.overdue{
    background: #fee2e2;
    color: #991b1b;
}


/* =========================
   FLASH MESSAGE
========================= */

.message-box{
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.success{
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.warning{
    background: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.error{
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.return-btn{
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.return-btn:hover{
    background: #1d4ed8;
}

.return-form{
    display: inline;
}
/* =========================
   APPROVE BUTTON
========================= */

.approve-btn{
    background: #16a34a;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.3s;
}

.approve-btn:hover{
    background: #15803d;
}


/* =========================
   REJECT BUTTON
========================= */

.reject-btn{
    background: #dc2626;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.reject-btn:hover{
    background: #b91c1c;
}


/* =========================
   PENDING STATUS
========================= */

.status.pending{
    background: #fef3c7;
    color: #92400e;
}